<!-- <p-menubar [model]="items" class="p-d-flex p-flex-column p-flex-md-row p-pb-3" >
    <div class="p-jc-evenly">
        <p-image src="assets/iFOCUS.png" alt="Image" width="50%" height="30%"></p-image>
    </div>
</p-menubar> -->
<p-toolbar class="p-pb-3 toolbar-box">
    <div class="p-jc-start p-pt-1">
        <p-image src="assets/iFOCUS.png" alt="Image" width="50%" height="30%"></p-image>
    </div>
    <div class="p-jc-end p-flex-row-reverse">
        <i class="pi pi-bell p-mr-4 p-text-secondary" pBadge style="font-size: 2rem" [value]="'10+'" severity="danger"></i>
        <i class="pi pi-user p-mr-4 p-text-secondary" style="font-size: 2rem"></i>
    </div>
</p-toolbar>
<div class="p-grid">
    <div class="p-col-3">
        <div class="p-d-flex p-jc-center">
            <span>
                Welcome {{profileUser}}
            </span>
        </div>
        <div>
            <p-divider></p-divider>
        </div>
        <div class="p-d-flex p-jc-end p-pb-3">
            <i class="pi pi-bars"></i>
        </div>
        <div class="p-flex-row">
            <p-panelMenu [model]="sidebarMenuList"></p-panelMenu>
        </div>
        <p-toast position="top-right" key="globalToast" ></p-toast>
    </div>
    <div class="p-col-9">
        <div class="p-pb-3">
            <p-breadcrumb [model]="breadcrumbList"></p-breadcrumb>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
<!-- <div class="p-grid">
    <div class="p-col-2">
        <div class="p-d-flex p-jc-center">
            <p-image src="assets/iFOCUS.png" alt="Image" width="100%" height="80%"></p-image>
        </div>
        <div class="p-d-flex p-jc-center">
            <span>
                Welcome Agustian Isrul
            </span>
        </div>
        <div>
            <p-divider></p-divider>
        </div>
        <div class="p-d-flex p-jc-end p-pb-3">
            <i class="pi pi-bars"></i>
        </div>
        <div class="p-d-flex p-jc-start">
            <p-menubar [model]="sidebarMenuList"></p-menubar>
        </div>
    </div>
    <div class="p-col-10">
        <div class="p-d-flex p-jc-end p-pb-5">
            <p-button label=" " icon="pi pi-bell" styleClass="p-button-text p-button-plain p-button-lg" badge="148" badgeClass="p-badge-danger"></p-button>
            <button pButton pRipple type="button" icon="pi pi-user" class="p-button-rounded p-button-text p-button-plain p-button-lg"></button>
        </div>
        <div class="p-d-flex p-jc-start p-pb-3">
            <p-breadcrumb [model]="breadcrumbList"></p-breadcrumb>
        </div>
        <div class="p-d-flex p-jc-start">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->