<p-panel header="Overview Customer Outlet Panel">
    <form [formGroup]="overviewPanelForm">
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Area - Line</label>
                <p-dropdown [options]="areaList" formControlName="area" emptyMessage="No Data Found"
                optionLabel="AreaName" placeholder="- Select -" class="p-col-3 p-md-3">
                </p-dropdown>
                <button pButton pRipple type="button" label="" icon="pi pi-search" (click)="onLoadArea()"
                class="p-button-secondary p-col-1 p-mb-2 p-md-1 p-mb-md-0" [loading]="loading[0]"></button>
                <label class="p-col-1 p-mb-2 p-md-1 p-jc-center"> - </label>
                <p-dropdown [options]="liniList" formControlName="lini" emptyMessage="No Data Found"
                optionLabel="LineName" placeholder="- Select -" class="p-col-3 p-md-3">
                </p-dropdown>
                <button pButton pRipple type="button" label="" icon="pi pi-search" (click)="onLoadLine()"
                class="p-button-secondary p-col-1 p-mb-2 p-md-1 p-mb-md-0" [loading]="loading[1]"></button>
            </div>
        
            <div class="p-field p-grid">
                <label class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Channel</label>
                <p-dropdown [options]="channelList" formControlName="channel" emptyMessage="No Data Found"
                optionLabel="ChannelName" placeholder="- Select -" class="p-col-3 p-md-3">
                </p-dropdown>
                <button pButton pRipple type="button" label="" icon="pi pi-search" (click)="onLoadChannel()"
                class="p-button-secondary p-col-1 p-mb-2 p-md-1 p-mb-md-0" [loading]="loading[2]"></button>
            </div>
        
            <div class="p-field p-grid">
                <label for="status" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Status</label>
                <p-dropdown id="status" [options]="statusList" formControlName="status" 
                optionLabel="name" placeholder="- Select -" class="p-col-12 p-md-3">
                </p-dropdown>
            </div>
        
            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Period</label>
                <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd/mm/yy"
                formControlName="periodFrom" class="p-col-6 p-md-2">
                </p-calendar>
                <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd/mm/yy"
                formControlName="periodTo" class="p-col-6 p-md-2">
                </p-calendar>
            </div>
        </div>
        <div class="p-field">
            <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"></label>
            <button pButton pRipple type="button" label="Search" (click)="onSearch(tableOutletPanel)"
            class="p-button-primary p-col-4 p-md-2 p-mr-2"></button>
        </div>
    </form>
    <p-table #tableOutletPanel [value]="panelList" responsiveLayout="scroll" [paginator]="true" 
    [rows]="10" [responsive]="true" [(selection)]="selectedPanelList" [rowHover]="true"
    [lazy]="true" (onLazyLoad)="lazyLoadOutletPanel($event)" [totalRecords]="totalRecords"
    [loading]="loading[3]">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Sitecode">Sitecode<p-sortIcon field="Sitecode"></p-sortIcon></th>
                <th pSortableColumn="CustName">Outlet Name<p-sortIcon field="CustName"></p-sortIcon></th>
                <th pSortableColumn="Address">Address<p-sortIcon field="Address"></p-sortIcon></th>
                <th pSortableColumn="CustomerAreaName">Area<p-sortIcon field="CustomerAreaName"></p-sortIcon></th>
                <th pSortableColumn="LineName">Lini<p-sortIcon field="LineName"></p-sortIcon></th>
                <th pSortableColumn="ChannelName">Channel<p-sortIcon field="ChannelName"></p-sortIcon></th>
                <th pSortableColumn="status">Status<p-sortIcon field="status"></p-sortIcon></th>
                <th pSortableColumn="StartDate">Start Date<p-sortIcon field="StartDate"></p-sortIcon></th>
                <th pSortableColumn="EndDate">End Date<p-sortIcon field="EndDate"></p-sortIcon></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="9" class="p-text-center"><label>No records found</label></td>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.Sitecode}}</td>
                <td>{{item.CustName}}</td>
                <td>{{item.Address}}</td>
                <td>{{item.CustomerAreaName}}</td>
                <td>{{item.LineName}}</td>
                <td>{{item.ChannelName}}</td>
                <td>{{item.status}}</td>
                <td>{{item.StartDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{item.EndDate | date: 'dd/MM/yyyy'}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>