<p-blockUI [target]="loginCard" [blocked]="loading">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</p-blockUI>
<p-card #loginCard class="p-d-flex p-jc-center p-ac-center login-box pt-8">
    <p-image src="assets/iFOCUS.png"></p-image>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="p-d-flex p-jc-center">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="Username" class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Username</label>
                    <div class="p-col-12 p-md-9">
                        <input id="Username" type="text" pInputText formControlName="Username"/>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="Password" class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Password</label>
                    <div class="p-col-12 p-md-9">
                        <p-password formControlName="Password"></p-password>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label class="p-col-6 p-mb-2 p-md-3 p-mb-md-0"></label>
                    <div class="p-col-12 p-md-12">
                        <button pButton type="submit" label="Login"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p-messages></p-messages>
    <div class="p-d-flex p-jc-center">
        {{today | date: 'd MMMM yyyy (HH:mm:ss a)'}}
    </div>
</p-card>