<p-panel header="Input Clinic" >
    <form [formGroup]="clinicPanelForm" (ngSubmit)="onSubmit()">
        <div class="p-field p-grid">
            <label for="current-incentive" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0" >Current Incentive Period</label>
            <div class="p-col-12 p-md-9">
                <input id="incentive_periode" type="text" formControlName="incentive_periode"  optionLabel="name" pInputText />
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="area" class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Area</label>
            <p-dropdown id="area" [options]="areaList" formControlName="area" [(ngModel)]="areaSelected" 
            optionLabel="name" placeholder="- Select -" class="p-col-6 p-md-3">>
            </p-dropdown>

            <label for="lini" class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Line</label>
            <p-dropdown id="lini" [options]="liniList" formControlName="lini" 
            optionLabel="name" placeholder="- Select -" class="p-col-6 p-md-3">
            </p-dropdown>
        </div>

        <div class="p-field p-grid">
            <label for="clinic-name" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Clinic Name</label>
            <div class="p-col-12 p-md-9">
                <input id="clinic_name" type="text" pInputText />
            </div>
        </div>

        <div class="p-field p-grid">
            <label for="clinic-address" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Clinic Address</label>
            <div class="p-col-12 p-md-9">
                <input id="clinic_address" type="text" pInputText />
            </div>
        </div>

        <div class="p-field p-grid">
            <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Period</label>
            <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd/mm/yy"
            formControlName="periodFrom" class="p-col-6 p-md-2">
            </p-calendar>
            <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd/mm/yy"
            formControlName="periodTo" class="p-col-6 p-md-2">
            </p-calendar>
        </div>

        <div class="p-field p-grid">
            <label for="customer" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Customer Panel Name</label>
            <div class="p-col-12 p-md-9">
                <input id="username" type="text" pInputText />
                <p-button icon="pi pi-search" class="p-col-12 p-md-9" ></p-button>
            </div>
        </div>

        <div class="p-field">
            <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"></label>
            <button pButton pRipple type="submit" label="Save Data" 
            class="p-button-success p-col-4 p-md-2 p-mr-2" 
            ></button>
            <button pButton pRipple type="button" label="Delete Data" (click)="onDeleteClinic()"  
            class="p-button-secondary p-col-4 p-md-2" 
            ></button>
        </div>
        <p-messages></p-messages>
        <div style="margin-top: 20px;">
            <p-table styleClass="p-datatable-gridlines" [value]="selectedClinicList" >
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Incentive Periode</th>
                        <th>Area</th>
                        <th>Line</th>
                        <th>Clinic Name</th>
                        <th>Clinic Address</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="item"></p-tableCheckbox>
                        </td>
                        <td>{{item.incentive_periode.name}}</td>
                        <td>{{item.area.name}}</td>
                        <td>{{item.lini.name}}</td>
                        <td>{{item.clinic_name.name}}</td>
                        <td>{{item.clinic_address.name}}</td>
                        <td>{{item.periodFrom | date: 'dd/MM/yyyy'}}</td>
                        <td>{{item.periodTo | date: 'dd/MM/yyyy'}}</td>
                    </tr>
                </ng-template> 
            </p-table> 
        </div>
    </form>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>

</p-panel>