<p-panel header="Create Customer Outlet Panel">
    <form [formGroup]="panelForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Area - Line</label>
                <p-dropdown [options]="areaList" formControlName="area" emptyMessage="No Data Found"
                optionLabel="AreaName" placeholder="- Select -" class="p-col-3 p-md-3">
                </p-dropdown>
                <button pButton pRipple type="button" label="" icon="pi pi-search" (click)="onLoadArea()"
                class="p-button-secondary p-col-1 p-mb-2 p-md-1 p-mb-md-0" [loading]="loading[0]"></button>
                <label class="p-col-1 p-mb-2 p-md-1 p-jc-center"> - </label>
                <p-dropdown [options]="liniList" formControlName="lini" emptyMessage="No Data Found"
                optionLabel="LineName" placeholder="- Select -" class="p-col-3 p-md-3">
                </p-dropdown>
                <button pButton pRipple type="button" label="" icon="pi pi-search" (click)="onLoadLine()"
                class="p-button-secondary p-col-1 p-mb-2 p-md-1 p-mb-md-0" [loading]="loading[1]"></button>
            </div>
      
            <div class="p-field p-grid">
                <label class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Channel</label>
                <p-dropdown [options]="channelList" formControlName="channel" emptyMessage="No Data Found"
                optionLabel="ChannelName" placeholder="- Select -" class="p-col-3 p-md-3">
                </p-dropdown>
                <button pButton pRipple type="button" label="" icon="pi pi-search" (click)="onLoadChannel()"
                class="p-button-secondary p-col-1 p-mb-2 p-md-1 p-mb-md-0" [loading]="loading[2]"></button>
            </div>
      
            <div class="p-field p-grid">
                <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Period</label>
                <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd/mm/yy"
                formControlName="StartDate" class="p-col-6 p-md-2">
                </p-calendar>
                <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd/mm/yy"
                formControlName="EndDate" class="p-col-6 p-md-2">
                </p-calendar>
            </div>
      
            <div class="p-field p-grid">
                <label for="customer" class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Customer</label>
                <p-button icon="pi pi-search" class="p-col-6 p-md-3" (click)="onAddCustomer()"></p-button>
            </div>
        </div>
      
        <div class="p-field">
            <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"></label>
            <button pButton pRipple type="submit" label="Save Data" 
            class="p-col-4 p-md-2 p-mr-2 p-button-success" 
            [disabled]="!(panelForm.valid && (panelForm.value.customerList.length > 0))"></button>
            <button pButton pRipple type="button" label="Delete Data" (click)="onDeleteCustomer()"
            class="p-button-secondary p-col-4 p-md-2" 
            [disabled]="!(selectedCustomerList.length > 0)"></button>
        </div>

        <p-messages></p-messages>
        <p-table [value]="panelForm.value.customerList" responsiveLayout="scroll" [paginator]="true" 
        [rows]="10" [responsive]="true" [(selection)]="selectedCustomerList" [rowHover]="true"
        *ngIf="panelForm.value.customerList.length > 0">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="Sitecode">Sitecode<p-sortIcon field="Sitecode"></p-sortIcon></th>
                    <th pSortableColumn="CustName">Outlet Name<p-sortIcon field="CustName"></p-sortIcon></th>
                    <th>Channel</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-itemCustomer>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="itemCustomer"></p-tableCheckbox>
                    </td>
                    <td>{{itemCustomer.Sitecode}}</td>
                    <td>{{itemCustomer.CustName}}</td>
                    <td>{{panelForm.value.channel.ChannelName}}</td>
                    <td>{{panelForm.value.StartDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{panelForm.value.EndDate | date: 'dd/MM/yyyy'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </form>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
</p-panel>