<p-panel header="Approval Customer Outlet Panel">
    <form [formGroup]="approvalPanelForm">
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Area - Line</label>
                <p-dropdown [options]="areaList" formControlName="area" emptyMessage="No Data Found"
                optionLabel="AreaName" placeholder="- Select -" class="p-col-3 p-md-3">
                </p-dropdown>
                <button pButton pRipple type="button" label="" icon="pi pi-search" (click)="onLoadArea()"
                class="p-button-secondary p-col-1 p-mb-2 p-md-1 p-mb-md-0" [loading]="loading[0]"></button>
                <label class="p-col-1 p-mb-2 p-md-1 p-jc-center"> - </label>
                <p-dropdown [options]="liniList" formControlName="lini" emptyMessage="No Data Found"
                optionLabel="LineName" placeholder="- Select -" class="p-col-3 p-md-3">
                </p-dropdown>
                <button pButton pRipple type="button" label="" icon="pi pi-search" (click)="onLoadLine()"
                class="p-button-secondary p-col-1 p-mb-2 p-md-1 p-mb-md-0" [loading]="loading[1]"></button>
            </div>
      
            <div class="p-field p-grid">
                <label class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Channel</label>
                <p-dropdown [options]="channelList" formControlName="channel" emptyMessage="No Data Found"
                optionLabel="ChannelName" placeholder="- Select -" class="p-col-3 p-md-3">
                </p-dropdown>
                <button pButton pRipple type="button" label="" icon="pi pi-search" (click)="onLoadChannel()"
                class="p-button-secondary p-col-1 p-mb-2 p-md-1 p-mb-md-0" [loading]="loading[2]"></button>
            </div>
        </div>
      
        <div class="p-field">
            <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"></label>
            <button pButton pRipple type="button" label="Search" (click)="searchOutletPanel(tableOutletPanel)"
            class="p-button-primary p-col-4 p-md-2 p-mr-2" [disabled]="!(approvalPanelForm.valid)"></button>
            <button pButton pRipple type="button" label="Approve" (click)="onApprove()"
            class="p-button-success p-col-4 p-md-2 p-mr-2" 
            [disabled]="selectedPanelList.length <= 0"></button>
            <button pButton pRipple type="button" label="Reject" (click)="onReject()"
            class="p-button-secondary p-col-4 p-md-2" 
            [disabled]="selectedPanelList.length <= 0"></button>
        </div>
        <p-messages></p-messages>
        <p-table #tableOutletPanel [value]="panelList" responsiveLayout="scroll" [paginator]="true"
        [rows]="10" [responsive]="true" [(selection)]="selectedPanelList" [rowHover]="true"
        [lazy]="true" (onLazyLoad)="lazyLoadOutletPanel($event)" [totalRecords]="totalRecords"
        [loading]="loading[3]" >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="Sitecode">Sitecode<p-sortIcon field="Sitecode"></p-sortIcon></th>
                    <th pSortableColumn="CustName">Outlet Name<p-sortIcon field="CustName"></p-sortIcon></th>
                    <th pSortableColumn="Address">Address<p-sortIcon field="Address"></p-sortIcon></th>
                    <th pSortableColumn="CustomerAreaName">Area<p-sortIcon field="CustomerAreaName"></p-sortIcon></th>
                    <th pSortableColumn="ChannelName">Channel<p-sortIcon field="ChannelName"></p-sortIcon></th>
                    <th pSortableColumn="StartDate">Start Date<p-sortIcon field="StartDate"></p-sortIcon></th>
                    <th pSortableColumn="EndDate">End Date<p-sortIcon field="EndDate"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8" class="p-text-center"><label>No records found</label></td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="item"></p-tableCheckbox>
                    </td>
                    <td>{{item.Sitecode}}</td>
                    <td>{{item.CustName}}</td>
                    <td>{{item.Address}}</td>
                    <td>{{item.CustomerAreaName}}</td>
                    <td>{{item.ChannelName}}</td>
                    <td>{{item.StartDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{item.EndDate | date: 'dd/MM/yyyy'}}</td>
                </tr>
            </ng-template>
        </p-table>
    </form>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
</p-panel>