<div class="">
    <div class="p-field">

        <div class="p-field p-grid">
            <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Area - Line</label>
            <input type="text"  [readonly]="true"  pInputText value={{config.data.areaName}}  class="p-mb-2 p-md-3 p-mb-md-0" disable/>
            <label>-</label>
            <input type="text" pInputText value={{config.data.liniName}}  class="p-mb-2 p-md-3 p-mb-md-0" disable/>
        </div>

    </div>
    <div class="p-field p-grid">
        <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Customer Name</label>
        <input type="text" pInputText [formControl]="filterCustomerName" class="p-mb-2 p-md-3 p-mb-md-0"/>
    </div>
      
    <div class="p-field">
        <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"></label>
        <button pButton pRipple type="button" label="Search" (click)="searchCustomerName()"
        class="p-button-primary p-col-4 p-md-2 p-mr-2"></button>
    </div>
</div>
<p-table [value]="customerList" responsiveLayout="scroll" [paginator]="true" [rows]="10" 
[responsive]="true" [(selection)]="selectedCustomerList" [rowHover]="true"
[lazy]="true" (onLazyLoad)="lazyLoadCustomer($event)" (selectionChange)="onSelectionChangeOutlet($event)" [totalRecords]="totalRecords">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
               
            </th>
            <th>Outlet ID</th>
            <th>Outlet Name</th>
            <th>Address</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-itemCustomer>
        <tr>
            <td>
                <p-tableCheckbox [value]="itemCustomer"></p-tableCheckbox>
            </td>
            <td>{{itemCustomer.outletId}}</td>
            <td>{{itemCustomer.custName}}</td>
            <td>{{itemCustomer.address}}</td>
        </tr>
    </ng-template>
</p-table>