<div class="">
    <div class="p-field">
        <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Company</label>
        <label>{{config.data.CompanyName}}</label>
    </div>
    <div class="p-field">
        <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Customer Area</label>
        <label>{{config.data.areaName}}</label>
    </div>
    <div class="p-field">
        <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0">Customer Name</label>
        <input type="text" pInputText [formControl]="filterCustomerName" class="p-mb-2 p-md-3 p-mb-md-0"/>
    </div>
      
    <div class="p-field">
        <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"></label>
        <button pButton pRipple type="button" label="Search" (click)="searchCustomerName(tableCustomer)"
        class="p-button-primary p-col-4 p-md-2 p-mr-2"></button>
        <button pButton pRipple type="button" label="Add Data" (click)="addCustomer()"
        class="p-button-success p-col-4 p-md-2 p-mr-2" 
        [disabled]="selectedCustomerList.length <= 0"></button>
    </div>
</div>
<p-table #tableCustomer [value]="customerList" responsiveLayout="scroll" [paginator]="true" [rows]="10" 
[responsive]="true" [(selection)]="selectedCustomerList" [rowHover]="true" [loading]="loading"
[lazy]="true" (onLazyLoad)="lazyLoadCustomer($event)" [totalRecords]="totalRecords">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Sitecode</th>
            <th>Outlet Name</th>
            <th>Address</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-itemCustomer>
        <tr>
            <td>
                <p-tableCheckbox [value]="itemCustomer"></p-tableCheckbox>
            </td>
            <td>{{itemCustomer.Sitecode}}</td>
            <td>{{itemCustomer.CustName}}</td>
            <td>{{itemCustomer.Address}}</td>
        </tr>
    </ng-template>
</p-table>