<p-panel header="Open/Edit New Clinic">
    <form [formGroup]="panelForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid">
            <div class="p-field p-grid">
                <label class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Area - Line</label>
                <p-dropdown [options]="areaList" formControlName="area" 
                optionLabel="areaName" placeholder="- Select -" class="p-col-6 p-md-3">
                </p-dropdown>
                <label>-</label>
                <p-dropdown [options]="liniList" formControlName="lini" 
                optionLabel="liniName" placeholder="- Select -" class="p-col-6 p-md-3">
                </p-dropdown>
            </div>

            <div class="p-field p-grid">
                <label class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Clinik Name</label>
                <div class="p-col-6 p-md-3">
                    <input id="clinicName" type="text" pInputText formControlName="clinicName"/>
                </div>
            </div>
            <div class="p-field p-grid">
                <label class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Clinik Adrress</label>
                <div class="p-col-6 p-md-3">
                    <input id="clinicAddress" type="text" pInputText formControlName="clinicAddress"/>
                </div>
            </div>
            <div class="p-field p-grid">
                <label class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Costomer Panel Name</label>
                <div class="p-col-6 p-md-3">
                    <input id="customerName" type="text" [(ngModel)]="endingdate" pInputText formControlName="customerName"/>
                </div>
                <div class="p-col-6 p-md-3">
                    <p-button icon="pi pi-search" class="p-col-6 p-md-3" (click)="onAddCustomer()"></p-button> 
                </div>
            </div>
            
            <div class="p-field p-grid">
                <label class="p-col-6 p-mb-2 p-md-3 p-mb-md-0">Clinic Status</label>
                <p-dropdown [options]="statusClinic" formControlName="clinicStatus" 
                optionLabel="name" placeholder="- Select -" class="p-col-6 p-md-3">
                </p-dropdown>
            </div>
        </div>
      
        <div class="p-field">
            <label class="p-col-12 p-mb-2 p-md-3 p-mb-md-0"></label>
            <button pButton pRipple type="button" label="Search" (click)="onSearch()"
            class="p-button-primary p-col-4 p-md-2 p-mr-2"></button>
            <button pButton pRipple type="button" label="Save" (click)="onSubmit()"
            class="p-button-success p-col-4 p-md-2 p-mr-2" 
            [disabled]="selectedPanelList.length <= 0"></button>
        </div>

        <p-messages></p-messages>
        
        <p-table [value]="panelList" responsiveLayout="scroll" [paginator]="true" 
        [rows]="10" [responsive]="true" [(selection)]="selectedPanelList" [rowHover]="true"
        dataKey="id" *ngIf="panelList.length > 0" editMode="row" >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th pSortableColumn="area">Area<p-sortIcon field="area"></p-sortIcon></th>
                    <th pSortableColumn="lini">Lini<p-sortIcon field="area"></p-sortIcon></th>
                    <th pSortableColumn="name">Outlet Name<p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="clinicName">Clinic name<p-sortIcon field="clinicName"></p-sortIcon></th>
                    <th pSortableColumn="clinicAdreess">Clinic Address<p-sortIcon field="clinicAdreess"></p-sortIcon></th>
                    <th pSortableColumn="periodFrom">Start Date<p-sortIcon field="periodFrom"></p-sortIcon></th>
                    <th pSortableColumn="periodTo">End Date<p-sortIcon field="periodTo"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr [pEditableRow]="item">
                    <td>
                        <p-tableCheckbox pInitEditableRow [value]="item"></p-tableCheckbox>
                    </td>
                    <td>{{item.areaName}}</td>
                    <td>{{item.liniName}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.clinicName}}</td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText [(ngModel)]="item.clinicAddress" type="text" class="p-mb-12 p-md-12 p-mb-md-0" [ngModelOptions]="{standalone: true}"/>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{item.clinicAddress}}
                            </ng-template>
                        </p-cellEditor>       
                    </td>    
                    <td>{{item.startDate | date: 'dd/MM/yyyy'}}</td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" appendTo="body"
                                dateFormat="dd/mm/yy" [(ngModel)]="item.endDate" [ngModelOptions]="{standalone: true}"></p-calendar>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{item.endDate | date: 'dd/MM/yyyy'}}
                            </ng-template>
                        </p-cellEditor>                        
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </form>
    <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
</p-panel>