/* You can add global styles to this file, and also import other style files */
body {    
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}  
body, html {
    padding: 0 0.3em 0 0.3em;
    margin: 0;
    height: 100%;
}
.toolbar-box .p-toolbar {
    border: none;
    padding: 0;
    border-radius: 0;
}
.panel-center-header .p-panel-header {
    /* background: #007ad9 !important; */
    justify-content: center !important;
}
.panel-center-header .p-panel-content {
    text-align: center;
}
.login-box .p-card {
    background: #ffffff;
    color: #333333;
    box-shadow: 1px 1px 3px 3px rgb(0 0 0 / 12%), 1px 1px 2px 2px rgb(0 0 0 / 24%);
    border-radius: 3px;
}